<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <title>Product Reviews</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Scrapper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron" style="text-align: center;">
            <h1 class="display-4">Product Reviews Scrapper</h1>
            <p class="lead">Pass the URL and have the entire Insights of Product based on user Inputs</p>
            <hr class="my-4">
            <form action="/" method="POST">
                <input class="form-control form-control-lg" name="main_url" type="text"
                    placeholder="Enter URL...Amazon / Paytm / Flipkart">
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Scrape</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="container mt-4">
    <table border="1">
        <thead>
            <tr>
                {% for col in colnames %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                {% for col in colnames %}
                <td>{{ record[col] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>

</html>